{% extends 'base.html' %} {% block meta %}
<head>
	{% endblock meta %} {% block content %} {% load static %}
	<link
		rel="stylesheet"
		type="text/css"
		href="{% static 'authentication/style.css' %}"
	/>
</head>
<body>
	<div class="app-container">
		<form action="{% url 'authentication:signup' %}" method="post">
			{% csrf_token %}
			<div class="login-box">
				<h1 style="text-align: center">Sign Up</h1>
				<label for="username">Username:</label><br />
				<input type="text" id="username" name="username" value="" /><br />
				<label for="password">Password:</label><br />
				<input type="password" id="password" name="password" /><br />
				<label for="re_password" id>Re-enter Password:</label><br />
				<input type="password" id="re_password" name="re_password" /><br />
				<label for="full_name">Full Name:</label><br />
				<input
					type="text"
					id="full_name"
					name="full_name"
					value=""
				/><br /><br />
				<div style="display: flex; justify-content: center">
					<input class="btn btn-primary" type="submit" value="Submit" /><br />
				</div>
				{% if error_message %}
				<strong>{{ error_message }}</strong>
				{% endif %}
			</div>
		</form>
	</div>
</body>

{% endblock content %}
