{% extends 'base.html' %}
<head>
	{% block content %} {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>
	<div style="display: flex; height: calc(100vh - 60px); items-align: center">
		<form action="{% url 'auth:login' %}" method="post">
			{% csrf_token %}
			<div class="login-box">
				<h1 style="text-align: center">Log In</h1>
				<label for="username">Username:</label><br />
				<input type="text" id="username" name="username" value="" /><br />
				<label for="password">Password:</label><br />
				<input type="password" id="password" name="password" /><br /><br />
				<div style="display: flex; justify-content: center">
					<input class="btn btn-primary" type="submit" value="Submit" />
				</div>
				{% if messages %} {% for message in messages %}
				<div>
					<strong>{{ message }}</strong>
				</div>
				{% endfor %} {% endif %}
			</div>
		</form>
	</div>
</body>

{% endblock content %}
