{% extends 'base.html' %} {% block content %}
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>
	<h1 class="comment-editor-header">Edit your comment:</h1>
	{% if error_message %}
	<strong><h2>{{ error_message }}</h2></strong>
	{% endif %}
	<form
		action="{% url 'blog:update_comment' post.id comment.id %}"
		method="post"
	>
		{% csrf_token %}
		<fieldset class="post-comment-box">
			<label id="comment-label" for="edited_comment"
				>Edit your comment here:
			</label>
			<textarea class="comment-box" name="edited_comment">
      {{ comment.content }}</textarea
			>
			<br /><br />
			<input
				class="btn btn-primary"
				type="submit"
				value="Update your comment!"
			/>
		</fieldset>
	</form>
</body>

{% endblock content %}
